* {
  margin: 0;
  padding: 0;
}

body {
  font: normal 100% helvetica, arial, sans-serif;
}

h1, h2, h3, 
h4, h5, h6 {
  font-family: georgia, serif;
}

h1 { font-size: 1.500em; }
h2 { font-size: 1.406em; }
h3 { font-size: 1.318em; }
h4 { font-size: 1.235em; }
h5 { font-size: 1.157em; }
h6 { font-size: 1.085em; }
p  { font-size: 0.878em; }
ul { font-size: 0.772em; }
a  { color: #04afef; }

a:hover { 
  color: #36C;
  text-decoration: none;
}
